{% extends 'base.html.twig' %}

{% block title %}Liste des adhérents{% endblock %}

{% block body %}
    <h1>Liste des adhérents</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'First name'|trans }}</th>
                <th>{{ 'Last name'|trans }}</th>
                <th>{{ 'Identifier'|trans }}</th>
                <th>{{ 'Email'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>{{ member.firstName }}</td>
                <td>{{ member.lastName }}</td>
                <td>{{ member.username }}</td>
                <td>{{ member.email }}</td>
                <td>
                    <a href="{{ path('member_show', {'id': member.id}) }}">{{ 'show'|trans }}</a>
                    |
                    <a href="{{ path('member_edit', {'id': member.id}) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('member_new') }}">{{ 'Subscribe new member'|trans }}</a>
{% endblock %}
