{% extends 'base.html.twig' %}

{% block title %}{{ 'New member' }}{% endblock %}

{% block body %}
    <h1>{{ 'Subscribe new member' }}</h1>

    {{ include('member/_form.html.twig') }}
	<br><br>
    <a href="{{ path('member_index') }}">{{ 'back to list'|trans }}</a>
{% endblock %}
