{% extends 'base.html.twig' %}

{% block title %}{{ 'Staff index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Staff index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>{{ 'First name'|trans }}</th>
                <th>{{ 'Last name'|trans }}</th>
                <th>{{ 'Identifier'|trans }}</th>
                <th>{{ 'Email'|trans }}</th>
                <th>{{ 'Roles'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for staff in staff %}
            <tr>
                <td>{{ staff.id }}</td>
                <td>{{ staff.firstName }}</td>
                <td>{{ staff.lastName }}</td>
                <td>{{ staff.username }}</td>
                 <td>{{ staff.email }}</td>
                <td>{{ staff.roles|join(', ') }}</td>
                <td>
                    <a href="{{ path('staff_show', {'id': staff.id}) }}">{{ 'show'|trans }}</a>
                    {% if is_granted('ROLE_WEBMASTER') %}
                    |
                    <a href="{{ path('staff_edit', {'id': staff.id}) }}">{{ 'edit'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('staff_new') }}">{{ 'register new staff member'|trans }}</a>
{% endblock %}
