{% extends 'base.html.twig' %}

{% block title %}Liste des membres du staff{% endblock %}

{% block body %}
    <h1>Liste des membres du staff</h1>

    <table class="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Identifiant</th>
                <th>Email</th>
                <th>Addresse</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for staff in staff %}
            <tr>
                <td>{{ staff.id }}</td>
                <td>{{ staff.firstName }}</td>
                <td>{{ staff.lastName }}</td>
                <td>{{ staff.username }}</td>
                <td>{{ staff.email }}</td>
                <td>{{ staff.address1 }}<br>
                    {{ staff.zipcode }} {{ staff.city }}
                </td>
                <td>{{ staff.phone }}</td>
                <td>
                    <a href="{{ path('staff_show', {'id': staff.id}) }}">voir</a>
                    |
                    <a href="{{ path('staff_edit', {'id': staff.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('staff_new') }}">Inscrire un nouveau membre</a>
{% endblock %}
