{% extends 'base.html.twig' %}

{% block title %}Fiche staff{% endblock %}

{% block body %}
    <h1>Fiche de {{ staff.username }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ staff.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ staff.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ staff.lastName }}</td>
            </tr>
           <tr>
                <th>E-mail</th>
                <td>{{ staff.email }}</td>
            </tr>
            <tr>
                <th>Adresse complète</th>
                <td>
                    {{ staff.address1 }}<br>
                    {% if staff.address2 %}
                        {{ staff.address2 }}<br>
                    {% endif %}
                    {{ staff.zipcode }} {{ staff.city }}
                </td>
            </tr>
            <tr>
                <th>Téléphone principal</th>
                <td>{{ staff.phone }}</td>
            </tr>
            <tr>
            	<th>Rôles</th>
            	<td>
                {% for role in staff.roleCollection %}
                	{{ role.name }}<br>
                 {% endfor %}
            	</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('staff_index') }}">Retour à la liste</a>
	|
    <a href="{{ path('staff_edit', {'id': staff.id}) }}">Modifier</a>
	<br><br>
    {{ include('staff/_delete_form.html.twig') }}
{% endblock %}
