{% extends 'base.html.twig' %}

{% block title %}{{ 'Film index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Film index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'Title'|trans }}</th>
                <th>{{ 'Author'|trans }}</th>
                <th>Description</th>
                <th>Original_title</th>
                <th>Synopsis</th>
                <th>Duration</th>
                <th>Director</th>
                <th>Actors</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{{ film.name }}</td>
                <td>{{ film.author }}</td>
                <td>{{ film.description }}</td>
                <td>{{ film.originalTitle }}</td>
                <td>{{ film.synopsis }}</td>
                <td>{{ film.duration }}</td>
                <td>{{ film.director }}</td>
                <td>{{ film.actors }}</td>
                <td>
                    <a href="{{ path('film_show', {'id': film.id}) }}">{{ 'show'|trans }}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    |
                    <a href="{{ path('film_edit', {'id': film.id}) }}">{{ 'edit'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('film_new') }}">{{ 'register new film'|trans }}</a>
    {% endif %}
{% endblock %}
