{% extends 'base.html.twig' %}

{% block title %}{{ 'register new film'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'register new film'|trans }}</h1>

    {{ include('film/_form.html.twig') }}

    <a href="{{ path('film_index') }}">{{ 'back to list'|trans }}</a>
{% endblock %}
