{% extends 'base.html.twig' %}

{% block title %}{{ 'Film'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Film'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ film.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Title'|trans }}</th>
                <td>{{ film.name }}</td>
            </tr>
            <tr>
                <th>{{ 'Author'|trans }}</th>
                <td>{{ film.author }}</td>
            </tr>
            <tr>
                <th>{{ 'Description'|trans }}</th>
                <td>{{ film.description }}</td>
            </tr>
            <tr>
                <th>{{ 'Original_title'|trans }}</th>
                <td>{{ film.originalTitle }}</td>
            </tr>
            <tr>
                <th>{{ 'Synopsis'|trans }}</th>
                <td>{{ film.synopsis }}</td>
            </tr>
            <tr>
                <th>{{ 'Duration'|trans }}</th>
                <td>{{ film.duration }}</td>
            </tr>
            <tr>
                <th>{{ 'Director'|trans }}</th>
                <td>{{ film.director }}</td>
            </tr>
            <tr>
                <th>{{ 'Description'|trans }}Actors</th>
                <td>{{ film.actors }}</td>
            </tr>
        </tbody>
    </table>

	{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('film_edit', {'id': film.id}) }}">{{ 'edit'|trans }}</a>

    {{ include('film/_delete_form.html.twig') }}
    {% else %}
 	<p>
 		Pour emprunter le support physique de ce média (livre papier, DVD film ou CD de musique), veuillez directement vous présenter à la médiathèque.<br>
		TODO: Dans le cas d'un ROLE_USER, on peut éventuellement rajouter un bouton "Emprunter " et/ou "Accéder au stream"
	</p>
	
    {% endif %}
    
    <a href="{{ path('film_index') }}">{{ 'back to list'|trans }}</a>

{% endblock %}
