{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Borrow'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Borrow #%d'|trans|replace({'%d': borrow.id}) }}</h1>
    
    {{ include('borrow/_form.html.twig', { button_label: 'Update'|trans , borrow_duration: borrow_duration })}}
    <a href="{{ path('borrow_index') }}">{{ 'back to list'|trans }}</a>
    {{ include('borrow/_delete_form.html.twig')   }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/EditBorow.js') }}"> </script>
{% endblock %}
