{% extends 'base.html.twig' %}

{% block title %}{{ 'Borrow index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Borrow index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Catégorie</th>
                <th>{{ 'Title'|trans }}</th>
                <th>N° exemplaire</th>
                <th>Adhérent</th>
                <th>Date d'emprunt</th>
                <th>Échéance</th>
                <th>Restitué le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for borrow in borrows %}
            <tr>
                <td>{{ borrow.stockableMediaCopy.stockableMedia.media.mediaType.name }}</td>
                <td>{{ borrow.stockableMediaCopy.stockableMedia.media.name }}</td>
                <td>{{ borrow.stockableMediaCopy.copyNumber }}/{{ borrow.stockableMediaCopy.stockableMedia.stock }}</td>
                <td>{{ borrow.member ? borrow.member.username : '' }}</td>
                <td>{{ borrow.borrowDate ? borrow.borrowDate|date('d/m/Y') : '' }}</td>
                <td>{{ borrow.expiryDate ? borrow.expiryDate|date('d/m/Y') : '' }}</td>
                <td>{{ borrow.returnDate ? borrow.returnDate|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('borrow_show', {'id': borrow.id}) }}">{{ 'show'|trans }}</a>
                    {% if is_granted('ROLE_BIBLIO') %}
                    |
                    <a href="{{ path('borrow_edit', {'id': borrow.id}) }}">{{ 'edit'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('borrow_new') }}">{{ 'new borrow'|trans }}</a>
{% endblock %}
