{% extends 'base.html.twig' %}

{% block title %}{{ 'New Borrow'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'New Borrow'|trans }}</h1>

    {{ include('borrow/_form.html.twig') }}

    <a href="{{ path('borrow_index') }}">{{ 'back to list'|trans }}</a>
{% endblock %}
