{% extends 'base.html.twig' %}

{% block title %}{{ 'register new music'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'register new music'|trans }}</h1>

    {{ include('music/_form.html.twig') }}

    <a href="{{ path('music_index') }}">{{ 'back to list'|trans }}</a>
{% endblock %}
