{% extends 'base.html.twig' %}

{% block title %}{{ 'Music'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Music'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ music.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ music.name }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ music.author }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ music.description }}</td>
            </tr>
            <tr>
                <th>Chanteur principal</th>
                <td>{{ music.singer }}</td>
            </tr>
            <tr>
                <th>Groupe</th>
                <td>{{ music.band }}</td>
            </tr>
            <tr>
                <th>Morceaux</th>
                <td>{{ music.titles }}</td>
            </tr>
            <tr>
                <th>Album</th>
                <td>{{ music.album }}</td>
            </tr>
            <tr>
                <th>Compositeur</th>
                <td>{{ music.compositor }}</td>
            </tr>
        </tbody>
    </table>

	{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('music_edit', {'id': music.id}) }}">{{ 'edit'|trans }}</a>

    {{ include('music/_delete_form.html.twig') }}
    {% else %}
 	<p>
 		Pour emprunter le support physique de ce média (livre papier, DVD film ou CD de musique), veuillez directement vous présenter à la médiathèque.<br>
		TODO: Dans le cas d'un ROLE_USER, on peut éventuellement rajouter un bouton "Emprunter " et/ou "Accéder au stream"
	</p>
	
    {% endif %}
    
    <a href="{{ path('music_index') }}">{{ 'back to list'|trans }}</a>

{% endblock %}
