<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ home_page.route_name ? path(home_page.route_name) : '#' }}">{{ home_page.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        {% for item in navbar_links %}
        	{# "set" declaring new variable, that is here class named "active" bind to current page #}
            {% set activeClass = item.route_name == current_route_name ? 'active' : '' %}
            {% set hasChildren = item.children is defined and item.children|length > 0 %}
            <li class="nav-item {{ activeClass }}"
            	{% if hasChildren %}
            	onmouseover="$(this).find('ul').show();"
            	onmouseleave="$(this).find('ul').hide();"
            	{% endif %}
            >
            	{% set link = item.route_name ? path(item.route_name) : '#' %}
                <a class="nav-link" href="{{ link }}">
                	{{ item.title }}
                	{% if activeClass %}
                    <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
                {# display child links if exist #}
                {% if hasChildren %}
                <ul class="navbar-nav mr-auto" style="display: none; position: absolute; background: #ff0000;">
                {% for child in item.children %}
                    {% set activeClass = child.route_name == current_route_name ? 'active' : '' %}
                	<li class="nav-item {{ activeClass }}">
                    	{% set sublink = child.route_name ? path(child.route_name) : '#' %}
                        <a class="nav-link" href="{{ sublink }}">
                        	{{ child.title }}
                        	{% if activeClass %}
                            <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                	</li>
                {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        
        
        <!-- TODO Faire une condition d'affichage des éléments de menu pour les utilisateurs connectés -->

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        {#Member Login button#}
        {#When we click on button the URL ends with "dashboard/login/member" but it had to be "login/staff"#}
        <form class="form-inline my-2 my-lg-0 mx-3">
            <a href="{{ home_page.route_name }}/login/member" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Member Login
                {% if home_page.route_name=='login/member' %}
                    {{ render(controller('App\\Controller\\LoginController::member' )) }}
                {% endif %}
            </a>
        </form>

        {#Staff Login button#}
        {#When we click on button the URL ends with "dashboard/login/staff" but it had to be "login/staff"#}
        <form class="form-inline my-2 my-lg-0">
            <a href="{{ home_page.route_name }}/login/staff" class="btn btn-outline-secondary my-2 my-sm-0 " type="submit">Staff Login
                {% if home_page.route_name=='login/staff' %}
                    {{ render(controller('App\\Controller\\LoginController::staff' )) }}
                {% endif %}
            </a>
        </form>

        {#Déconnexion button#}
        {#TODO: last class of the this 'a' tag in the form has to be visible at home page but invisible at member login or staff login. It's not working maybe because of the variable 'home_page.route_name' whose final is "dashboard/login/" but not only "/login"#}
        <form class="form-inline my-2 my-lg-0">
            <a href="#" class="btn btn-outline-danger my-2 my-sm-0 ml-3 {{ home_page.route_name=='dashboard/login/member' or 'dashboard/login/staff' ? 'visible' : 'invisible' }}" type="submit">Déconnexion</a>
        </form>

    </div>
</nav>