<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ home_page.route_name ? path(home_page.route_name) : '#' }}">{{ home_page.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        {% for item in navbar_links %}
        	{# "set" declaring new variable, that is here class named "active" bind to current page #}
            {% set activeClass = item.route_name == current_route_name ? 'active' : '' %}
            {% set hasChildren = item.children is defined and item.children|length > 0 %}
            <li class="nav-item {{ activeClass }}"
            	{% if hasChildren %}
            	onmouseover="$(this).find('ul').show();"
            	onmouseleave="$(this).find('ul').hide();"
            	{% endif %}
            >   
            	{% set link = item.route_name ? path(item.route_name) : '#' %}
                <a class="nav-link" href="{{ link }}">
                	{{ item.title }}
                	{% if activeClass %}
                    <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
                {# display child links if exist #}
                {% if hasChildren %}
                <ul class="navbar-nav mr-auto" style="display: none; position: absolute; background: #ff0000;">
                {% for child in item.children %}
                    {% set activeClass = child.route_name == current_route_name ? 'active' : '' %}
                	<li class="nav-item {{ activeClass }}">
                    	{% set sublink = child.route_name ? path(child.route_name) : '#' %}
                        <a class="nav-link" href="{{ sublink }}">
                        	{{ child.title }}
                        	{% if activeClass %}
                            <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                	</li>
                {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        
		{# Ici, on vérifie que l'utilisateur est juste authentifié ou non, quelque soit son role, ce n'est pas important à cet endroit de savoir le type de l'utilisateur, ni son role #}
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<!-- Etant donné que les listes et la consultation des ouvrages n'est accessibles qu'aux personnes connectées (l'accès n'est pas public),
			le formulaire de recherche sur titre du média ne peut pas non plus être accessible publiquement -->
		
            <!-- TODO : indiquer le "route name" correct dans la fonction "path()" une fois le controller de recherche créé -->
            <form method="GET" class="form-inline my-2 my-lg-0" action="/search" style="margin-right: 2em;">
                <input class="form-control mr-sm-2" type="search" placeholder="Rechercher..." aria-label="Search" name="query">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">OK</button>
            </form>

            {#Déconnexion button#}
            <!-- TODO: remplacer "absolute_url('/') par path('logout_route_name') une fois qu'on connaîtra exactement la route pour se délogguer -->
            {% set lgout_url = is_granted('ROLE_ADMIN') or is_granted('superadmin') or is_granted('webmaster') or is_granted('bibliothécaire') ? path('staff_logout') : path('member_logout') %}
            <a href="{{ lgout_url }}" class="btn btn-outline-danger my-2 my-sm-0 ml-3">Déconnexion</a>
		{% else %}
            {#Member Login button#}
            {#When we click on button the URL ends with "dashboard/login/member" but it had to be "login/staff"#}
            <a href="{{ path('member_login') }}" class="btn btn-outline-primary my-2 my-sm-0" type="submit" style="margin-right: .8em;">Espace adhérent</a>
     
            {#Staff Login button#}
            {#When we click on button the URL ends with "dashboard/login/staff" but it had to be "login/staff"#}
            <a href="{{ path('staff_login') }}" class="btn btn-outline-secondary my-2 my-sm-0 " type="submit">Espace admin</a>
		{% endif %}
    </div>
</nav>