<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ home_page.route_name ? path(home_page.route_name) : '#' }}">{{ home_page.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        {% for item in navbar_links %}
        	{# "set" declaring new variable, that is here class named "active" bind to current page #}
            {% set activeClass = item.route_name == current_route_name ? 'active' : '' %}
            {% set hasChildren = item.children is defined and item.children|length > 0 %}
            <li class="nav-item {{ activeClass }}"
            	{% if hasChildren %}
            	onmouseover="$(this).find('ul').show();"
            	onmouseleave="$(this).find('ul').hide();"
            	{% endif %}
            >   
            	{% set link = item.route_name ? path(item.route_name) : '#' %}
                <a class="nav-link" href="{{ link }}">
                	{{ item.title }}
                	{% if activeClass %}
                    <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
                {# display child links if exist #}
                {% if hasChildren %}
                <ul class="navbar-nav mr-auto" style="display: none; position: absolute; background: lightgrey;">
                {% for child in item.children %}
                    {% set activeClass = child.route_name == current_route_name ? 'active' : '' %}
                	<li class="nav-item {{ activeClass }}">
                    	{% set sublink = child.route_name ? path(child.route_name) : '#' %}
                        <a class="nav-link" href="{{ sublink }}">
                        	{{ child.title }}
                        	{% if activeClass %}
                            <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                	</li>
                {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        
        
        <!-- TODO Faire une condition d'affichage des éléments de menu pour les utilisateurs connectés -->
        {{ form_start(form, {'attr': {'class': 'form-group'}}) }}
            {{ form(form) }}
        {{ form_end(form) }}
        <div class="btn-group ml-3">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                Member Login</button>
            <div class="dropdown-menu dropdown-menu-lg-right">
                <form class="px-4 py-3">
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="dropdownCheck">
                            <label class="form-check-label" for="dropdownCheck">
                                Remember me
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">New around here? Sign up</a>
                <a class="dropdown-item" href="#">Forgot password?</a>
            </div>
        </div>
        <div class="btn-group ml-3">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                Staff Login</button>
            <div class="dropdown-menu dropdown-menu-lg-right">
                <form class="px-4 py-3">
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="dropdownCheck3">
                            <label class="form-check-label" for="dropdownCheck3">
                                Remember me
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">New around here? Sign up</a>
                <a class="dropdown-item" href="#">Forgot password?</a>
            </div>
        </div>
    </div>
</nav>