{% extends 'base.html.twig' %}

{% set mainTitle = 'Book list'|trans %}

{% block title %}{{ mainTitle }}{% endblock %}

{% block body %}
    <h1>{{ mainTitle }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'Title'|trans }}</th>
                <th>{{ 'Author'|trans }}</th>
                <th>{{ 'Edition'|trans }}</th>
                <th>{{ 'Pages'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.edition }}</td>
                <td>{{ book.pageNb }}</td>
                <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}">{{ 'show'|trans }}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    |
                    <a href="{{ path('book_edit', {'id': book.id}) }}">{{ 'edit'|trans }}</a>
                    {%  endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('book_new') }}">{{ 'register new book'|trans }}</a>
    {% endif %}
{% endblock %}
