{% extends 'base.html.twig' %}

{% set mainTitle = 'New book'|trans %}

{% block title %}{{ mainTitle }}{% endblock %}

{% block body %}
    <h1>{{ mainTitle }}</h1>

    {{ include('book/_form.html.twig') }}

    <a href="{{ path('book_index') }}">{{ 'back to list'|trans }}</a>
{% endblock %}
