{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
{% if results is defined and results|length>0 %}
    {% if results|length<2 %}
        <h2 style="margin-bottom: 50px">Résultat pour "{{ query }}"</h2>
    {% else %}
        <h2 style="margin-bottom: 50px">Résultats pour "{{ query }}"</h2>
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            <th>Type du média</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for i,item in results %}
            <tr>
                <td>{{ item.mediaType.name }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.author }}</td>
                <td>{{ item.description }}</td>
                <td>
                    {% set media_type = item.mediaType.id == 1 ? 'book' : (item.mediaType.id == 2 ? 'music' : (item.mediaType.id == 3 ? 'film' : null)) %}
                    {% if media_type %}
                    <a href="{{ path(media_type ~ '_show', {'id': item.id}) }}">voir</a>
                    <a href="{{ path(media_type ~ '_edit', {'id': item.id}) }}">modifier</a>
                    {%  endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div>
        Aucuns résultats pour "{{ query }}"
    </div>
{% endif %}

{% endblock %}
