<h1>Les derniers emprunts</h1>
{% if last_borrows is defined and last_borrows|length>0 %}

    <table class="table">
        <thead>
        <tr>
            <th>Utilisateur</th>
            <th>Date d'emprunt</th>
            <th>Date de retour</th>
            <th>Nom du média</th>
            <th>Type du média</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for i,item in last_borrows %}
            <tr>
                <td>{{ item.member.username }}</td>
                <td>{{ item.borrowDate|date('Y-m-d') }}</td>
                <td>{{ item.expiryDate|date('Y-m-d') }}</td>
                <td>{{ item.stockableMediaCopy.stockableMedia.media.name }}</td>
                <td>{{ item.stockableMediaCopy.stockableMedia.media.mediaType.name }}</td>
                <td>
                    <a href="{{ path('borrow_show', {'id': item.id}) }}">{{ 'show'|trans }}</a>
                    {% if is_granted('ROLE_BIBLIO') %}
                    |
                    <a href="{{ path('borrow_edit', {'id': item.id}) }}">{{ 'edit'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div>
        {{ 'no records found'|trans }}
    </div>
{% endif %}